html, body, div, span, object, iframe, h1, h2,
h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strike, strong, sub, sup, tt, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, figure, figcaption, footer, 
header, hgroup, menu, nav, output, section, summary, 
time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

.biscutis {
  	position: relative;
}
.biscuits:before  {
	content: '';
	background: url(/mypages/biscuits/biscuit.jpg);
	opacity: 0.4;
	background-size: cover;
	width: 1700px;
    max-width: 100%;
  	min-width: 700px;
  	height: 600px;
  	position: absolute;
	text-align: center;
	z-index: -999;
}

.biscuits .container {
	color: #000;
	text-align: center;
	font-size: 3em;
	padding-top: 270px;
	padding-bottom: 250px;
}

section {
	margin:0px;
	padding: 0px;
}

.xray {
	position: relative;
	width: 100%;
	

}
.xray:before {
	content: '';
	background: url(/mypages/biscuits/images/xray.jpg);
	background-size: cover;
	width: 400px;
  	height: 600px;
  	margin-top: ;
  	position: absolute;
	text-align: right;
	z-index: -999;
}
.xray .text {
	margin-top: 25px;
	text-align: left;
	padding-top: 100px;
	padding-left: 100px;
	height: 500px;
	background: rgba(0,0,0,0.1);
	margin-left: 400px;
	font-size: 2em;

}

